{% extends 'base.html.twig' %}

{% block title %}Backoffice{% endblock %}

{% block body %}

    <h1>Backoffice</h1>

    <ul>
        <li>
            <a href="{{ path('app_upload_server') }}">Upload Server List</a>
        </li>
        <li>
            <a href="{{ path('app_logout') }}">Logout</a>
        </li>
    </ul>

{% endblock %}
